<% if (!need_payment?(@enroll) && @enroll.created?) || @enroll.paid? %>
<%= link_to "确认报名", "/enrolls/#{@enroll.id}/confirm", class: "btn btn-primary pull-right", method: "post", style: "margin: 4px;" %>
<% end %>
<p>
  <div class="form-group">
    <label class="control-label">项目</label>
    <p class="form-control-static"><%=@enroll.topic.title%></p>
  </div>
  <div class="form-group">
    <label class="control-label">状态</label>
    <p class="form-control-static"><%=enroll_status @enroll%></p>
  </div>
  <div class="form-group">
    <label class="control-label">用户名</label>
    <p class="form-control-static"><%= @enroll.user.name%></p>
  </div>
  <div class="form-group">
    <label class="control-label">手机号</label>
    <p class="form-control-static"><%=@enroll.user.tel%></p>
  </div>
  <div class="form-group">
    <label class="control-label">报名时间</label>
    <p class="form-control-static"><%= display_datetime @enroll.created_at%></p>
  </div>
  <% if @enroll.fee %>
  <div class="form-group">
    <label class="control-label">报名费</label>
    <p class="form-control-static"><%= number_to_currency @enroll.fee, precision: 2 %></p>
  </div>
  <% end %>

  <% if @enroll.content.present? %>
  <% JSON.parse(@enroll.content).each do |k, v| %>
    <div class="form-group">
      <label class="control-label"><%=k%></label>
      <p class="form-control-static"><%=v%></p>
    </div>
  <% end %>
  <% end %>

</p>
