<input type="hidden" id="topicId" value="<%=@topic.id%>">

<div class="row">
  <%=image_tag(@topic.cover_image, class: "cover") if @topic.cover_image%>
</div>

<div class="topic-header">
  <h2><%=@topic.title%></h2>
</div>

<div class="row">
  <% unless @topic.enroll%>
  <div class="col-xs-6 col-md-8 topic-user-info user-info">
    <%=avatar @topic.user, class: "avatar" %>
    <p class="user-name"><%=@topic.user.name%></p>
  </div>

  <% if current_user.present? %>
  <div class="col-xs-6 col-md-4">
    <button onclick="topics.like(<%=@topic.id%>)" class="like-btn">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      <span id="favCount"><%= @topic.user_favorites.size %></span>
    </button>
    <div class="fav-alert" id="favAlert">已评价</div>
  </div>
  <% end %>
  <% else %>
  <ul class="activity-info activity-detail">
    <li>
      <i class="glyphicon glyphicon-time"></i>
      <span class="info"><%=display_datetime_zh @topic.start_time%></span>
    </li>
    <li>
      <i class="glyphicon glyphicon-map-marker"></i>
      <span class="info"><%=@topic.location%></span>
    </li>
    <li>
      <i class="glyphicon glyphicon-user"></i>
      <span class="info"><%= enroll_count @topic%></span>
    </li>
    <% if @topic.enroll_fee%>
    <li>
      <i class="glyphicon glyphicon-yen"></i>
      <span class="info"><%= @topic.enroll_fee%></span>
    </li>
    <% end %>
  </ul>
  <% end %>

  <div class="col-md-10 col-xs-12">
    <% if @user_enroll_info.present? %>
      <p>已经报名！</p>
      <% if @user_enroll_info.joined?(session[:user_tel])%>
      <%= link_to "进入聊天室", "/chat/#{@user_enroll_info.id}", class: "btn btn-block btn-primary" %>
      <% end %>
    <% else %>
    <% if @topic.has_questions? %>
    <%= link_to "报名", "/topics/#{@topic.id}/new_enroll", class: "btn btn-primary btn-block" %>
    <% else %>
    <%= link_to "报名", "/topics/#{@topic.id}/enroll", class: "btn btn-primary btn-block", method: "POST" %>
    <% end %>
    <% end %>
    <div class="topic-content">
      <%= @topic.content.html_safe %>
    </div>
  </div>

  <div class="col-xs-12 col-md-12 topic-info">
    <span class="pull-left">发表于：<%=display_datetime @topic.created_at%></span>
    <button class="back-to-top" id="toTop" onclick="utility.toTop()">
      <i class="glyphicon glyphicon-arrow-up"></i> Top
    </button>
  </div>
</div>

<%= link_to("查看报名情况", "/topics/#{@topic.id}/enroll", class: "pull-right") if current_user.present? && current_user.admin? %>

<% unless @topic.need_payment? %>
<div class="posts row">
  <div class="col-xs-12 col-sm-2">
    <h3>评论</h3>
  </div>
  <div class="col-xs-12 col-sm-10">
    <%=image_tag "spinner.gif", id: "spinner", class: "spinner" %>
    <iframe frameborder="0" scrolling="no" width="100%" height="0" id="posts" name="posts">
    </iframe>
  </div>
</div>

<% if current_user.present? %>
  <div class="new-post">
    <%= form_for([@topic, @topic.posts.build], html: {target: "posts"}) do |f|%>
      <div class="row">
        <%=f.label :content, "回复", class: "control-label col-md-2 col-xs-12"%>
        <div class="col-md-10 col-xs-12">
          <%=f.text_area :content, class: "redactor", required: true%>
        </div>
      </div>
      <div class="actions col-md-offset-2">
        <%= f.submit "确认", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>
<% end %>
