<input type="hidden" id="topicId" value="<%=@topic.id%>">

<div class="topic-header">
  <h2><%=@topic.title%></h2>
  <div class="control-group">
    <% if current_user.admin? %>
      <%= link_to edit_topic_path(@topic), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-edit"></i> 编辑
      <% end %>
    <% else %>
      <a href="#new_post" class="btn btn-default">
        <i class="glyphicon glyphicon-share-alt"></i> 回复
      </a>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-8 topic-user-info user-info">
    <%=avatar @topic.user, class: "avatar" %>
    <p class="user-name"><%=@topic.user.name%></p>
  </div>
  <div class="col-xs-6 col-md-4">
    <button onclick="topics.like(<%=@topic.id%>)" class="like-btn">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      <span id="favCount"><%= @topic.user_favorites.size %></span>
    </button>
    <div class="fav-alert" id="favAlert">已评价</div>
  </div>
  <div class="col-md-10 col-xs-12">
    <div class="topic-content">
      <%= @topic.content.html_safe %>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 topic-info">
    <span class="pull-left">发表于：<%=display_datetime @topic.created_at%></span>
    <button class="back-to-top" id="toTop" onclick="utility.toTop()">
      <i class="glyphicon glyphicon-arrow-up"></i> Top
    </button>
  </div>

</div>

<div class="posts row">
  <div class="col-xs-12 col-sm-2">
    <h3>评论</h3>
  </div>
  <div class="col-xs-12 col-sm-10">
    <%=image_tag "spinner.gif", id: "spinner", class: "spinner" %>
    <iframe frameborder="0" scrolling="no" width="100%" height="0" id="posts" name="posts">
    </iframe>
  </div>
</div>

<div class="new-post">
  <%= form_for([@topic, @topic.posts.build], html: {target: "posts"}) do |f|%>
    <div class="row">
      <%=f.label :content, "回复", class: "control-label col-md-2 col-xs-12"%>
      <div class="col-md-10 col-xs-12">
        <%=f.text_area :content, class: "redactor", required: true%>
      </div>
    </div>
    <div class="actions col-md-offset-2">
      <%= f.submit "确认", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
