<div class="row">
  <% @users.each do |u| %>
    <%= link_to edit_user_path(u), class: "user" do%>
    <div class="avatar">
      <%= avatar(u) %>
    </div>
    <div class="user-name">
      <%= u.name %>
    </div>
    <% end %>
  <% end %>
</div>

<div class="pagination-section">
  <div>
    <%= paginate_info @users %>
    <%= will_paginate @users, class: "apple_pagination" %>
  </div>
</div>
