<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div>

      <% @posts.each do |p| %>
        <div>
          <div class="post">
            <div class="col-xs-2 col-md-2 user-info">
              <%= avatar p.user, class: "avatar" %>
              <p class="user-name"><%=p.user.name%></p>
            </div>
            <div class="col-xs-10 col-md-10 content">
              <% if current_user.admin? %>
              <%= link_to topic_post_url(@topic_id, p), method: "delete", class: "close pull-right", data: {confirm: "确定要删除这个回复吗？"} do %>
              <span aria-hidden="true">&times;</span>
              <% end %>
              <% end %>
              <%=p.content.html_safe%>
              <div class="info">
                <span>发表于：<%=display_datetime p.created_at%></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="">
        <div>
          <%= paginate_info @posts %>
          <%= will_paginate @posts, class: "apple_pagination" %>
        </div>
      </div>

    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
