<header class="header">
  <div class="nav-top">
    <% if @back_url.present? %>
      <button class="pull-left icon btn" onclick="window.location.href=('<%=@back_url%>')"><i class="glyphicon glyphicon-arrow-left"></i></button>
    <% end %>
    <div style="display: inline-block;" class="inherit-height">
      <div class="table-center-wrap inherit-height">
        <h1 class="brand table-center"><%= @title.present? ? @title : "HelloWorld北京国际教育互促会" %></h1>
      </div>
    </div>
    <% if !@back_url.present? && current_user.present? %>
      <button class="pull-right icon btn" onclick="nav.toggleSettings();"><i class="glyphicon glyphicon-cog"></i></button>
    <% end %>
    <% if !@back_url.present? &&  current_user.nil? %>
    <a href="/users/sign_in" class="pull-right icon btn" style="margin:12px;">登录</a>
    <% end %>
  </div>
  <% if @menus.present? %>
    <div class="nav-bottom">
      <div class="left scroll-indicator" onclick="nav.scrollLeft()"><i class="glyphicon glyphicon-menu-left"></i></div>
      <div class="scroll-container" onscroll="nav.setScrollIndicator()">
        <ul>
          <% @menus.each do |m| %>
            <li class="<%=m[:class]%>"><h2><%= link_to m[:name], m[:href] %></h2></li>
          <% end %>
        </ul>
      </div>
      <div class="right scroll-indicator" onclick="nav.scrollRight()"><i class="glyphicon glyphicon-menu-right"></i></div>
    </div>
  <% end %>
</header>

<div>
  <% if notice.present? %>
    <div class="alert alert-info" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <% if alert.present? %>
    <div class="alert alert-danger" role="alert">
      <%= alert %>
    </div>
  <% end %>
</div>
