<!DOCTYPE html>
<html>
  <head>
    <title>HelloWorld北京国际教育互促会</title>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href="<%=image_url('favicon.ico')%>" rel="icon">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/header" %>

    <div class="card settings">
      <ul>
        <% if current_user.present? && current_user.admin? %>
          <li><%=link_to "创建帖子", new_topic_path %></li>
          <li><%=link_to "管理板块", categories_path %></li>
          <li><%=link_to "管理用户", users_path %></li>
        <% end %>
        <% if current_user.present? && current_user.partener? %>
        <li><%=link_to "创建活动", new_topic_path %></li>
        <% end %>
        <% if current_user.present? %>
          <li><%=link_to "账户设置", edit_user_path(current_user) %></li>
        <% end %>
        <li><%=link_to "搜索帖子", "###", onclick: "topics && topics.openSearch()" %></li>
        <li><a href="/users/sign_in">登录/注册</a></li>
        <li><%=link_to "我的报名", "/user/enrolls" %></li>
      </ul>
    </div>


    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <p class="copyright">Copyright © 2016 HelloWorld北京国际教育互促会</p>
        <ul>
          <li>京ICP备15036211号</li>
        </ul>
      </div>
    </footer>

    <div class="block-layer"></div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>

  </body>
</html>
